<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}League of Stickmans{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% block extra_head %}{% endblock %}
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash">
      {% for cat, msg in messages %}
        <li class="flash-{{ cat }}">{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}
</body>
</html>
